<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h1>My Day</h1>
      <h2>All my tasks in one place</h2>
    </a>
  </div>
</nav>

<div class="container mt-5 pt-4">
  <div class="card mt-4 mx-auto">
    <div class="card-body">
      <h1 class="card-title">To-Do List</h1>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Add a new task" [(ngModel)]="newTask" (keyup.enter)="addTask()">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="addTask()">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Filtros y Lista de Tareas -->
  <div class="card mt-4 mx-auto">
    <div class="card-body">
      <div class="mb-3">
        <button class="btn btn-outline-secondary" [class.active]="filter === 'all'" (click)="setFilter('all')">All</button>
        <button class="btn btn-outline-secondary" [class.active]="filter === 'pending'" (click)="setFilter('pending')">Pending</button>
        <button class="btn btn-outline-secondary" [class.active]="filter === 'completed'" (click)="setFilter('completed')">Completed</button>
      </div>

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let task of filteredTasks; let i = index">
          <div>
            <input type="checkbox" [(ngModel)]="task.completed" (change)="toggleTaskCompletion(i)">
            <input type="text" [(ngModel)]="task.description" (blur)="updateTask(i, $event)" [readonly]="task.completed" class="form-control d-inline-block w-auto">
          </div>
          <button class="btn btn-danger btn-sm" (click)="deleteTask(i)">
            <i class="fas fa-trash"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
